.containerVideo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-videos {
  padding: 10px;
  margin-top: 120px;
  min-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(14, 20, 14);
  box-shadow: inset 0px 0px 12px 0px black;

  video {
    margin-top: 10px;
    border-radius: 10px;
    width: 300px;
    border: 2px solid rgba(21, 206, 21, 0.541);
  }
  .arrows {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 90px;
    margin-top: 30px;
    img {
      cursor: pointer;
    }
  }
}

#videoPC {
  display: none;
}

.video-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.title-video {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 4px;

  span {
    font-size: 20px;
    color: white;
    font-weight: bold;
  }
  p {
    color: grey;
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) {
  #videoMobile {
    display: none;
  }
  #videoPC {
    display: block;
  }
  .box-videos {
    min-width: 800px;
    .video-box {
      #videoPC {
        width: 240px;
      }
    }
  }
  .title-video {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 4px;

    span {
      font-size: 20px;
      color: white;
      font-weight: bold;
    }
    p {
      color: grey;
    }
  }
}
