html {
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #060a07;
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
.card {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0;
}

@keyframes appearExp2 {
  from {
    opacity: 0;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes appearExp3 {
  from {
    opacity: 0;
    transform: translateX(-300px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes appearExp4 {
  from {
    opacity: 0;
    transform: translateX(-300px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes appearExp5 {
  from {
    opacity: 0;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes appearExp6 {
  from {
    opacity: 0;
    transform: translateX(-300px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes spin {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.exp2 {
  animation: appearExp2 linear;
  animation-timeline: view();
  animation-range: entry 0;
}

.exp3 {
  animation: appearExp3 linear;
  animation-timeline: view();
  animation-range: entry 0;
}

.exp4 {
  animation: appearExp4 linear;
  animation-timeline: view();
  animation-range: entry 0;
}
.exp5 {
  animation: appearExp5 linear;
  animation-timeline: view();
  animation-range: entry 0;
}
.exp6 {
  animation: appearExp6 linear;
  animation-timeline: view();
  animation-range: entry 0;
}
