.footer{
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  span{
    color: white;
  }
  p{
    color: rgb(122, 122, 122);
    font-size: 12px;
  }
}