.box-images {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 10px;
}

.images1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.images2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.box-images > .images1 > .exp1 {
  margin-left: 20px;
  display: flex;

  img {
    border-radius: 8px;
    border: 1px solid rgb(25, 160, 25);
  }
  .titleExp1 {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    gap: 5px;
    span {
      color: rgb(199, 196, 196);
      font-size: 12px;
    }
    p {
      color: white;
      font-size: 19px;
      font-weight: 600;
    }
  }
}
.box-images > .images1 > .exp2 {
  display: flex;
  margin-left: 20px;
  img {
    border-radius: 8px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 1px solid rgb(25, 160, 25);
  }
  .titleExp2 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 10px;
    span {
      color: rgb(199, 196, 196);
      font-size: 12px;
    }
    p {
      color: white;
      font-weight: 600;

      font-size: 19px;
    }
  }
}

.box-images > .images1 > .exp3 {
  display: flex;
  img {
    margin-left: 20px;
    border-radius: 8px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 1px solid rgb(25, 160, 25);
  }
  .titleExp3 {
    span {
      color: rgb(199, 196, 196);
      margin-left: 10px;
      font-size: 12px;
      font-weight: 500;
    }
    p {
      color: white;
      font-size: 19px;
      margin-left: 10px;
      font-weight: 600;
      line-height: 27px;
    }
  }
}

.box-images > .images2 .exp4 {
  display: flex;
  img {
    margin-left: 20px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    height: 150px;
    border-radius: 8px;
    border: 1px solid rgb(25, 160, 25);
  }
  .titleExp4 {
    span {
      color: rgb(199, 196, 196);
      margin-left: 10px;
      font-size: 12px;
      font-weight: 500;
    }
    p {
      color: white;
      font-size: 19px;
      margin-left: 10px;
      font-weight: 600;
      line-height: 27px;
    }
  }
}
.box-images > .images2 .exp5 {
  display: flex;
  img {
    margin-left: 20px;
    border-radius: 8px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 1px solid rgb(25, 160, 25);
  }
  .titleExp5 {
    span {
      color: rgb(199, 196, 196);
      margin-left: 10px;
      font-size: 12px;
      font-weight: 500;
    }
    p {
      color: white;
      font-size: 19px;
      margin-left: 10px;
      font-weight: 600;
      line-height: 27px;
    }
  }
}
.box-images > .images2 .exp6 {
  display: flex;
  img {
    margin-left: 20px;
    border-radius: 8px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 1px solid rgb(25, 160, 25);
  }
  .titleExp6 {
    span {
      color: rgb(199, 196, 196);
      margin-left: 10px;
      font-size: 12px;
      font-weight: 500;
    }
    p {
      color: white;
      font-size: 19px;
      margin-left: 10px;
      font-weight: 600;
      line-height: 27px;
    }
  }
}
@media screen and (min-width: 768px) {
  .box-images {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
  }
  .images1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .images2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .box-images > .images1 > .exp1 {
    display: flex;
    padding: 10px;
    margin: 0px;
    flex-direction: column;
    border-radius: 18px;
    background-color: #2e2e2e;
    transition: all linear 0.2s;
    img {
      width: 180px;
      height: 135px;
      object-fit: cover;
    }
    .titleExp1 {
      text-align: center;
      margin: 0px;
      margin-top: 10px;
      p {
        font-size: 16px;
      }
      span {
        font-size: 11px;
      }
    }
  }
  .box-images > .images1 > .exp2 {
    display: flex;
    padding: 10px;
    margin: 0px;
    animation: none;
    flex-direction: column;
    align-items: center;
    border-radius: 18px;
    background-color: #2e2e2e;
    transition: all linear 0.2s;

    img {
      width: 180px;
    }
    .titleExp2 {
      text-align: center;
      margin: 0px;
      margin-top: 10px;
      p {
        font-size: 16px;
      }
      span {
        font-size: 10px;
      }
    }
  }
  .box-images > .images1 > .exp3 {
    display: flex;
    padding: 7px;
    margin: 0px;
    animation: none;
    flex-direction: column;
    align-items: center;
    border-radius: 18px;
    background-color: #2e2e2e;
    transition: all linear 0.2s;
    img {
      width: 190px;
      margin: 0px;
    }
    .titleExp3 {
      text-align: center;
      margin: 0px;
      margin-top: 10px;
      p {
        width: 200px;
        line-height: 20px;
        font-size: 15px;
      }
      span {
        font-size: 12px;
      }
    }
  }
  .box-images > .images2 > .exp4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0px;
    flex-direction: column;
    animation: none;
    border-radius: 18px;
    background-color: #2e2e2e;
    transition: all linear 0.2s;
    img {
      width: 180px;
      height: 135px;
      margin: 0px;
      object-fit: cover;
    }
    .titleExp4 {
      text-align: center;
      margin: 0px;
      margin-top: 10px;
      p {
        font-size: 16px;
      }
      span {
        font-size: 11px;
      }
    }
  }
  .box-images > .images2 > .exp5 {
    display: flex;
    padding: 10px;
    width: 224px;
    height: 254px;
    margin: 0px;
    animation: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    background-color: #2e2e2e;
    transition: all linear 0.2s;

    img {
      margin: 0;
      width: 190px;
      object-fit: cover;
      height: 190px;
    }
    .titleExp5 {
      text-align: center;
      margin: 0px;
      margin-top: 10px;
      p {
        font-size: 16px;
      }
      span {
        font-size: 10px;
      }
    }
  }
  .box-images > .images2 > .exp6 {
    display: flex;
    padding: 10px;
    width: 200px;
    height: 212px;
    margin: 0px;
    animation: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    background-color: #2e2e2e;
    transition: all linear 0.2s;

    img {
      object-fit: cover;
      width: 180px;
      height: 135px;
      margin: 0px;
    }
    .titleExp6 {
      padding: 0px;
      text-align: center;
      margin: 0px;
      margin-top: 10px;
      p {
        width: 200px;
        margin: 0px;
        padding: 0px;
        line-height: 20px;
        font-size: 15px;
      }
      span {
        padding: 0px;
        margin: 0px;
        font-size: 12px;
      }
    }
  }
}
