.box-images {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 10px;
}

.box-images > .exp1 {
  margin-left: 20px;
  display: flex;

  img {
    border-radius: 8px;
    border: 1px solid rgb(25, 160, 25);
  }
  .titleExp1 {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    gap: 5px;
    span {
      color: rgb(199, 196, 196);
      font-size: 12px;
    }
    p {
      color: white;
      font-size: 19px;
      font-weight: 600;
    }
  }
}
.box-images > .exp2 {
  display: flex;
  margin-left: 20px;
  img {
    border-radius: 8px;
    border: 1px solid rgb(25, 160, 25);
  }
  .titleExp2 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 10px;
    span {
      color: rgb(199, 196, 196);
      font-size: 12px;
    }
    p {
      color: white;
      font-weight: 600;

      font-size: 19px;
    }
  }
}

.box-images > .exp3 {
  display: flex;
  img {
    margin-left: 20px;
    border-radius: 8px;
    border: 1px solid rgb(25, 160, 25);
  }
  .titleExp3 {
    span {
      color: rgb(199, 196, 196);
      margin-left: 10px;
      font-size: 12px;
      font-weight: 500;
    }
    p {
      color: white;
      font-size: 19px;
      margin-left: 10px;
      font-weight: 600;
      line-height: 27px;
    }
  }
}
@media screen and (min-width: 768px) {
  .box-images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    margin-top: 40px;
  }
  .box-images > .exp1 {
    display: flex;
    padding: 10px;
    margin: 0px;
    flex-direction: column;
    border-radius: 18px;
    background-color: #2e2e2e;
    transition: all linear 0.2s;
    img {
      width: 180px;
      height: 135px;
    }
    .titleExp1 {
      text-align: center;
      margin: 0px;
      margin-top: 10px;
      p {
        font-size: 16px;
      }
      span {
        font-size: 11px;
      }
    }
  }
  .box-images > .exp2 {
    display: flex;
    padding: 10px;
    margin: 0px;
    animation: none;
    flex-direction: column;
    align-items: center;
    border-radius: 18px;
    background-color: #2e2e2e;
    transition: all linear 0.2s;

    img {
      width: 180px;
    }
    .titleExp2 {
      text-align: center;
      margin: 0px;
      margin-top: 10px;
      p {
        font-size: 16px;
      }
      span {
        font-size: 10px;
      }
    }
  }
  .box-images > .exp3 {
    display: flex;
    padding: 7px;
    margin: 0px;
    animation: none;
    flex-direction: column;
    align-items: center;
    border-radius: 18px;
    background-color: #2e2e2e;
    transition: all linear 0.2s;
    img {
      width: 190px;
      margin: 0px;
    }
    .titleExp3 {
      text-align: center;
      margin: 0px;
      margin-top: 10px;
      p {
        width: 200px;
        line-height: 20px;
        font-size: 15px;
      }
      span {
        font-size: 12px;
      }
    }
  }
}
