.box-section {
  display: flex;
  flex-direction: column;
  background-size: cover;
  height: 400px;
}

.box-section > .titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  text-align: center;
  margin-top: 40px;
}

.box-section > .titles > h1 {
  color: white;
  text-align: center;
  width: 340px;
  letter-spacing: -1.3px;
}
.box-section > .titles > span {
  color: rgb(211, 206, 206);
  width: 270px;
  line-height: 20.5px;
  margin: 12px 0px 25px;
  font-size: 13.5px;
}

.box-section > .buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.whatsappButton > button {
  background-color: #51d15bff;
  display: flex;
  align-items: center;
  width: 220px;
  color: white;
  border-radius: 7px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    width: 100%;
    height: 45px;
  }
  img{
    margin-right: 10px;
  }
  &:hover{
    background-color: #3b9742;
  }
}

@media screen and (min-width:768px) {
  .box-section{
    height: 330px;
  }
  .box-section > .titles > h1{
    font-size: 32px;
    width: 380px;
    line-height: 40px;
  }
  .box-section > .titles > span{
    font-size: 14px;
    line-height: 22px;
    width: 340px;
    color: rgb(119, 116, 116);
  }
  .whatsappButton > button{
    width: 290px;
    height: 40px;
    img{
      width: 30px;
    }
    a{
      font-size: 12px;
    }
  }
}